<header>
  <aside class="sidebar">
    <div class="container-preview-photo">
      <div class="preview__wrapper">
        <img class="preview-photo" src="./images/photo.jpg" alt="My photo" />
      </div>
    </div>
    <div class="contacts__container">
      <h1 class="contacts__title">Contacts Information</h1>
      <a
        class="contacts__address"
        target="_blank"
        href="https://www.google.com/maps/d/viewer?mid=1EkwX7Fk-zHgwIFlXdLFx8MTz66s&hl=uk&ll=49.841722439688425%2C24.026302999999974&z=12"
      >
        <svg class="icon icon__address">
          <use href="./images/sprite.svg#icon-home"></use>
        </svg>
        <span class="sider-text">Address: Lviv, Ukraine</span>
      </a>
      <ul class="general-ul contacts-container">
        <li class="item-contacts tooltip">
          <a class="sider-a" href="tel:0502124965">
            <svg class="icon icon-phone">
              <use href="./images/sprite.svg#phone"></use>
            </svg>
            <span class="tooltiptext">050 212 49 65</span>
          </a>
        </li>

        <li class="item-contacts tooltip">
          <a class="sider-a" href="mailto:mpmazurik@gmail.com">
            <svg class="icon icon-email">
              <use href="./images/sprite.svg#email"></use>
            </svg>
            <span class="tooltiptext">mpmazurik@gmail.com</span>
          </a>
        </li>
        <li class="item-contacts tooltip">
          <a class="sider-a" href="https://web.telegram.org/k/" target="_blank">
            <svg class="icon icon-skype">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
            <span class="tooltiptext">@Petro_Mazuryk</span>
          </a>
        </li>
        <li class="item-contacts tooltip">
          <a class="sider-a" href="https://www.linkedin.com/in/Петро-Мазурик" target="_blank">
            <svg class="icon icon-linkedin">
              <use href="./images/sprite.svg#linkedin"></use>
            </svg>
            <span class="tooltiptext">Profile linkedin</span>
          </a>
        </li>
        <li class="item-contacts tooltip">
          <a class="sider-a" href="https://github.com/PetroMazuryk" target="_blank">
            <svg class="icon icon-github">
              <use href="./images/sprite.svg#github"></use>
            </svg>
            <span class="tooltiptext">Github</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Skills -->
    <div class="skills-container">
      <h2 class="saide-title">Tech Skills</h2>
      <ul>
        <li class="sider-list"><span class="sider-text">HTML5</span></li>
        <li class="sider-list">
          <span class="sider-text">CSS3 SASS/SCSS</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">JavaScript</span>
        </li>
        <li class="sider-list"><span class="sider-text">React</span></li>

        <li class="sider-list">
          <span class="sider-text">Webpack / parcel</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Vite / Versel</span>
        </li>
        <li class="sider-list"><span class="sider-text">GIT</span></li>
        <li class="sider-list">
          <span class="sider-text">Rest API</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Test Cases, Bug reports</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Agile, Scrum</span>
        </li>
      </ul>
    </div>

    <div class="skills-container">
      <h3 class="saide-title">Soft Skills</h3>
      <ul>
        <li class="sider-list"><span class="sider-text">Teamwork</span></li>
        <li class="sider-list">
          <span class="sider-text">Problem Solving</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Strong Adaptation Skills</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Communicative</span>
        </li>
      </ul>
    </div>

    <div class="skills-container">
      <h3 class="saide-title">Interests</h3>
      <ul>
        <li class="sider-list">
          <span class="sider-text">Innovative technologies</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Self development</span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Cycling</span>
        </li>
      </ul>
    </div>
    <div class="skills-container">
      <h3 class="saide-title">Language skills</h3>
      <ul>
        <li class="sider-list">
          <span class="sider-text">English: Intermediate </span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Ukrainian: Native </span>
        </li>
        <li class="sider-list">
          <span class="sider-text">Russian: Advanced </span>
        </li>
      </ul>
    </div>
  </aside>
</header>
