.project-container {
  max-width: 600px;
}
.project-menu {
  list-style: none;
}

.project-list {
  margin-bottom: 8px;
}

.project-wrapper {
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.project-link {
  @include font;
  color: var(--black-color);
  margin-right: 14px;
}

.project-link:hover,
.project-link:focus {
  color: var(--focus-color);
}

.dots {
  // border-bottom: 1px dotted var(--date-info-color);
  width: 100%;
}

.language {
  display: block;
  @include font;
  color: var(--black-color);
}

.bracket {
  color: var(--black-color);
}

.project-text {
  @include font;
  color: var(--black-color);
  white-space: normal;
}
