.sidebar {
  background-color: var(--bg-sidebar);
  background: rgb(245, 230, 230);
  background-color: rgba(9, 27, 54, 0.932);

  height: 100%;
}
.sidebar__preview {
  width: 300px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 18px;
}

.sidebar__wrapper {
  width: 270px;
  height: 270px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.9);
}

.sidebar__photo {
  display: block;
  width: 260px;
  height: 260px;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding: 0.6em;
}

.skills__title {
  @include font(22px);
  margin-bottom: 18px;
  color: var(--white-color);
}

.skills__container {
  padding-top: 32px;
  padding-left: 40px;
  padding-right: 40px;
}

.contacts__container {
  padding-left: 40px;
  padding-right: 40px;
  color: var(--white-color);

  .item-contacts {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__title {
  @include font(22px);
  color: var(--white-color);
  margin-bottom: 18px;
}

.contact__list {
  display: flex;
  @include font;
  color: var(--white-color);
}

.contact__link {
  color: var(--white-color);
}

.contact__link:hover {
  transition: color 1250ms linear;
  &:hover {
    color: var(--focus-color);
    transition: color 250ms linear;
  }
}

// .contact__link {
//   display: block;
//   color: var(--white-color);
//   @include font;
//   fill: white;
//   margin-right: 10px;

//   .icon__phone {
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #52db70;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//   }

//   .icon__email {
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//   }

//   .icon__telegram {
//     margin-right: 10px;
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//   }
//   .icon__linkedin {
//     margin-right: 10px;
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//   }

//   .icon__github {
//     margin-right: 10px;
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #9941a6;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #9941a6;
//       transition: fill 250ms linear;
//     }
//   }

//   .icon__address {
//     transition: fill 1250ms linear;
//     &:hover {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//     &:focus {
//       fill: #5dacfa;
//       transition: fill 250ms linear;
//     }
//   }
// }

.contact-symbol {
  color: var(--white-color);
  margin-right: 10px;
}

.sider-list {
  color: var(--white-color);
  margin-left: 15px;
  @include font;
}

.sider-text {
  color: var(--white-color);
}

.icon {
  width: 25px;
  height: 25px;
}
