.study-container {
  .working-hours {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.title-institution {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: var(---black-color);
  margin-bottom: 8px;
}

.study-profession {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: var(---black-color);
  margin-bottom: 8px;
}
