.work-container {
  padding-bottom: 20px;
}

.subtitle-work {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0;
}
.subtitle-profession {
  color: var(--block-info-text-color);
}
.working-hours {
  margin-top: 0;

  color: var(--date-info-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.delimiter {
  color: var(--black-color);
}
.work-list {
  color: var(--block-info-text-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}
